#game{
    height: 100vh;
    background-image: url(../images/skybridge.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#game img{
  height: 165px;
  width: auto;
}
#historique {
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.70);
  overflow: auto;
  height: 231px;
  width: 100%;
  bottom: 0px;
  position: absolute;
  gap: 14px;
  flex-direction: column;
  display: flex;
  font-size: 30px;
}

#historique div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#historique div:nth-child(1){
  padding-top: 10px;
}
#resultatCombat{
  display: flex;
  width: 100%;
  height: 100px;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  position: absolute;
  bottom: 245px;
}
#equipe1{
  transform: translate(-65px, 10px);
  display: flex;
  flex-direction: column;
  
}
#equipe2 img{
  margin-right: 20px;
  transform: scaleX(-1);
  display: flex;
  flex-direction: column;
}

.entite {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}
.entite:nth-child(1) {
  transform: translate(180px,272px);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
}
.entite:nth-child(5) {
  transform: translate(169px,-341px);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
}
.entite img {
  width: auto;
  height: 150px;
  margin-right: 10px;
}
.entite .nom {
  font-weight: bold;
}
.entite .vie {
  width: 100px;
  height: 10px;
  background-color: lightgray;
  margin-top: 5px;
}
.entite .vie span {
  display: block;
  height: 100%;
  background-color: green;
}
.skale{
  transform: scaleX(-1);
}
