:root {
  --glow-color: hsl(0, 100%, 50%);
  --glow-color2: hsl(186 100% 69%);
}


#game{
    height: 100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#game img{
  height: 165px;
  width: auto;
}
#historique {
  background: rgb(217 217 217 / 23%);
  border-radius: 10px;
  overflow: auto;
  height: 231px;
  width: 100%;
  bottom: 0px;
  position: absolute;
  gap: 14px;
  flex-direction: column;
  display: flex;
  font-size: 30px;
}

#historique div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#historique div:nth-child(1){
  padding-top: 10px;
}
#resultatCombat{
  display: flex;
  width: 100%;
  height: 100px;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  position: absolute;
  bottom: 245px;
}
#equipe1{
  height: 100%;
  transform: translate(-57px, 10px);
  display: flex;
  flex-direction: column;
  
}
#equipe2{
  height: 100%;
  
}
#equipe2 img{
  margin-right: 20px;
  transform: scaleX(-1);
  display: flex;
  flex-direction: column;
}

.entite {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}
.entite:nth-child(1) {
  transform: translate(180px,272px);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
}
.entite:nth-child(4) {
  transform: translate(-240px,-365px);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
}
.entite:nth-child(5) {
  transform: translate(-137px,-868px);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
}
.entite img {
  width: auto;
  height: 150px;
  margin-right: 10px;
}
.entite .nom {
  font-weight: bold;
}
.entite .vie {
  width: 100px;
  height: 10px;
  background-color: lightgray;
  margin-top: 5px;
}
.entite .vie span {
  display: block;
  height: 100%;
  background-color: green;
}
.skale{
  transform: scaleX(-1);
}
#restartacc{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  top: 210px;
}
/*BOUTON ACCUEIL*/
#btnacc {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

#btnacc::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

#btnacc::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

#btnacc:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

#btnacc:hover .glowing-txt {
  animation: none;
}

#btnacc:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

#btnacc:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

#btnacc:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* FIN BOUTON ACCUEIL - BOUTON RESTART*/
#btnrestart{
  width: auto;
  height: 80px;
  border-radius: 17px;
  background: rgba(0, 0, 0, 0.40);
  color: white;
}
#btnrestart {
  position: relative;
  color: var(--glow-color2);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color2);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color2),
    0px 0px 0.5em 0px var(--glow-color2);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color2),
    0px 0px 0.5em 0px var(--glow-color2);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color2),
    0px 0px 0.5em 0px var(--glow-color2);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt2 {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color2);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color2);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color2);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter2 {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

#btnrestart::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color2);
  pointer-events: none;
}

#btnrestart::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color2);
  box-shadow: 0 0 2em 0.2em var(--glow-color2);
  transition: opacity 100ms linear;
}

#btnrestart:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

#btnrestart:hover .glowing-txt {
  animation: none;
}

#btnrestart:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

#btnrestart:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

#btnrestart:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker2 {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker2 {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker2 {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.class_5 .equipe1{
  width: 145px;
  background-repeat: no-repeat;
  background-image: url(../images/Hazel-sprite.png);
  height: 290px;
  animation: changeImage 2s steps(1) ;
}
@keyframes changeImage {
  0% {
    background-position: 0 0;
  }
  9.42% {
    background-position: -125px 0;
  }
  18.84% {
    background-position: -250px 0;
  }
  28.26% {
    background-position: -375px 0;
  }
  37.68% {
    background-position: -500px 0;
  }
  47.10% {
    background-position: -625px 0;
  }
  56.52% {
    background-position: -750px 0;
  }
  65.94% {
    background-position: -875px 0;
  }
  75.36% {
    background-position: -1000px 0;
  }
  84.78% {
    background-position: -1125px 0;
  }
  94.20% {
    background-position: -1250px 0;
  }
  100% {
    background-position: -1375px 0;
  }
}
.class_5 .equipe2{
  width: 145px;
  background-repeat: no-repeat;
  background-image: url(../images/Hazel-sprite.png);
  height: 290px;
  animation: changeImage 2s steps(1) ;
  transform: scaleX(-1);
}
@keyframes changeImage {
  0% {
    background-position: 0 0;
  }
  9.42% {
    background-position: -125px 0;
  }
  18.84% {
    background-position: -250px 0;
  }
  28.26% {
    background-position: -375px 0;
  }
  37.68% {
    background-position: -500px 0;
  }
  47.10% {
    background-position: -625px 0;
  }
  56.52% {
    background-position: -750px 0;
  }
  65.94% {
    background-position: -875px 0;
  }
  75.36% {
    background-position: -1000px 0;
  }
  84.78% {
    background-position: -1125px 0;
  }
  94.20% {
    background-position: -1250px 0;
  }
  100% {
    background-position: -1375px 0;
  }
}

.class_4 .equipe1{
  width: 185px;
  background-repeat: no-repeat;
  background-image: url(../images/Buccaneer-sprite.png);
  animation: changeImage1 2s steps(1) ;
  height: 290px;
}
@keyframes changeImage1 {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -185px 0;
  }
  40% {
    background-position: -370px 0;
  }
  60% {
    background-position: -555px 0;
  }
  80% {
    background-position: -740px 0;
  }
  100% {
    background-position: -905px 0;
  }
}
.class_4 .equipe2{
  width: 185px;
  background-repeat: no-repeat;
  background-image: url(../images/Buccaneer-sprite.png);
  animation: changeImage1 2s steps(1) ;
  height: 290px;
  transform: scaleX(-1);
}
@keyframes changeImage1 {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -185px 0;
  }
  40% {
    background-position: -370px 0;
  }
  60% {
    background-position: -555px 0;
  }
  80% {
    background-position: -740px 0;
  }
  100% {
    background-position: -905px 0;
  }
}
.class_2 .equipe1{
  width: 215px;
  background-repeat: no-repeat;
  background-image: url(../images/Mage-sprite.png);
  animation: changeImage2 2s steps(1) ;
  height: 267px;
}
@keyframes changeImage2 {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -215px 0;
  }
  40% {
    background-position: -430px 0;
  }
  60% {
    background-position: -645px 0;
  }
}
.class_2 .equipe2{
  width: 215px;
  background-repeat: no-repeat;
  background-image: url(../images/Mage-sprite.png);
  animation: changeImage2 2s steps(1) ;
  transform: scaleX(-1);
  height: 267px;
}
@keyframes changeImage2 {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -215px 0;
  }
  40% {
    background-position: -430px 0;
  }
  60% {
    background-position: -645px 0;
  }
}
.class_3 .equipe1{
  width: 170px;
  background-repeat: no-repeat;
  background-image: url(../images/Gunner-sprite.png);
  animation: changeImage3 1s steps(1) ;
  height: 155px;
}
@keyframes changeImage3 {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -170px 0;
  }
}
.class_3 .equipe2{
  width: 170px;
  background-repeat: no-repeat;
  background-image: url(../images/Gunner-sprite.png);
  animation: changeImage3 1s steps(1) ;
  transform: scaleX(-1);
  height: 155px;
}
@keyframes changeImage3 {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -170px 0;
  }
}
.class_1 .equipe1{
  width: 180px;
  background-repeat: no-repeat;
  background-image: url(../images/Buccaneer-sprite.png);
  animation: changeImage4 1s steps(1) ;
  height: 200px;
}
@keyframes changeImage4 {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -450px 0;
  }
  40% {
    background-position: -400px 0;
  }
}
.class_1 .equipe2{
  width: 180px;
  background-repeat: no-repeat;
  background-image: url(../images/Buccaneer-sprite.png);
  animation: changeImage4 1s steps(1) ;
  transform: scaleX(-1);
  height: 200px;
}
@keyframes changeImage4 {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -260px 0;
  }
  40% {
    background-position: -400px 0;
  }
}
.class_6 .equipe1{
  width: 205px;
  background-repeat: no-repeat;
  background-image: url(../images/Cyber-sprite.png);
  animation: changeImage5 1s steps(1) ;
  height: 200px;
}
@keyframes changeImage5 {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -205px 0;
  }
  40% {
    background-position: -410px 0;
  }
  60% {
    background-position: -615px 0;
  }
  80% {
    background-position: -820px 0;
  }

}
.class_6 .equipe2{
  width: 205px;
  background-repeat: no-repeat;
  background-image: url(../images/Cyber-sprite.png);
  animation: changeImage5 1s steps(1) ;
  transform: scaleX(-1);
  height: 200px;
}
@keyframes changeImage5 {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -205px 0;
  }
  40% {
    background-position: -410px 0;
  }
  60% {
    background-position: -615px 0;
  }
  80% {
    background-position: -820px 0;
  }

}